<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>
        {% block title %}Welcome! {% endblock %}
    </title>

    <link href="{{ asset('vendor/Materialize/dist/css/materialize.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('public/css/main.css') }}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>
<div>
    <header>
        <ul id="slide-out" class="side-nav fixed">
            <div class="user-info">
                <li>
                    <img src="{{ asset('public/image/user-icon.png') }}" alt="Contact Person" class="circle responsive-img">
                </li>
                <p class="center"> User: {{ app.user.username }} </p>
            </div>

            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li class="side-menu"><a href="{{ path('kinghost_useradmin_guy_index') }}"> Users </a></li>
            {% endif %}
            <li class="side-menu"><a href="{{ path('kinghost_roomsmanager_room_index') }}"> Rooms </a></li>
            <li class="side-menu"><a href="{{ path('kinghost_roomsmanager_appointment_index') }}"> Reservations </a></li>
        </ul>
        <ul id="exitApp" class="dropdown-content">
            <li><a class="blue-text text-darken-2" href="{{ path('kinghost_useradmin_login_logout') }}">Logout</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper blue accent-3">
                <a href="#!" class="brand-logo center"> Rooms Management</a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-activates="exitApp"><i class="material-icons right">more_vert</i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</div>

<script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('vendor/Materialize/dist/js/materialize.min.js') }}"></script>
<script src="{{ asset('public/js/main.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
