{% extends 'simple.html.twig' %}

{% block content %}
    <h2 class="header">Users</h2>

    <table class="bordered centered">
        <thead>
        <tr>
            <th data-field="id">Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Profile</th>
            <th>Enabled</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for guy in guys %}
            <tr>
                <td><a href="{{ path('kinghost_useradmin_guy_show', { 'id': guy.id }) }}">{{ guy.id }}</a></td>
                <td>{{ guy.username }}</td>
                <td>{{ guy.email }}</td>
                <td>{% if guy.roles %}{{ guy.roles|join(', ') }}{% endif %}</td>
                <td>{% if guy.isActive %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('kinghost_useradmin_guy_show', { 'id': guy.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('kinghost_useradmin_guy_edit', { 'id': guy.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="user-add">
        <li>
            <a class="right btn-floating btn-large waves-effect waves-light blue accent-3" href="{{ path('kinghost_useradmin_guy_new') }}"><i class="material-icons">add</i></a>
        </li>
    </ul>

{% endblock %}
