{% extends '::simple.html.twig' %}

{% block content %}
    <h3 class="header">New User</h3>

    <div class="row">
        <form class="col s12" method="POST" target="">
            <div class="row">
                <div class="input-field col s6 create-user">
                    <input id="username" name="username" type="text" class="validate" required>
                    <label for="username"> Username </label>
                </div>
                <div class="input-field col s6">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">Password</label>
                </div>
                <div class="input-field col s6">
                    <select name="role" id="role">
                        <option value="ROLE_USER">Simple User</option>
                        <option value="ROLE_USER">Admin User</option>
                    </select>
                    <label for="role"> Profile </label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s12 ">
                    <input id="active" name="active" type="checkbox" class=""/>
                    <label for="active">Active</label>
                </div>
            </div>

            <div class="row center">
                <div class="input-field col s12">
                    {% if error %}
                        <div class="error">{{ error }}</div>
                    {% endif %}
                    <input type="submit" id="submit" class="btn grey" value="Create" name="submit"/>
                    <a href="{{ path('kinghost_useradmin_guy_index') }}" class="btn grey">Cancel</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
