{% extends 'simple.html.twig' %}

{% block content %}
    <h3 class="header">User Detail</h3>

    <table class="striped">
        <tbody>
            <tr>
                <th>Username:</th>
                <td>{{ guy.username }}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ guy.email }}</td>
            </tr>
            <tr>
                <th>Roles:</th>
                <td>{% if guy.roles %}{{ guy.roles|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enable:</th>
                <td>{% if guy.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="row center">
        <div class="input-field col s12">
            {{ form_start(delete_form) }}
                <a href="{{ path('kinghost_useradmin_guy_edit', {id: guy.id}) }}" class="btn grey">Edit</a>
                <a href="{{ path('kinghost_useradmin_guy_index') }}" class="btn grey">Cancel</a>
                <input type="submit" class="btn red" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
