.signin-card {
    max-width: 350px;
    border-radius: 2px;
    margin: 20px auto;
    padding: 20px;
    background-color: #eceff1;
}

.display {
    font-size: 28px;
    font-weight: 100;
    line-height: 1.2;
    color: #757575;
    text-transform: inherit;
    letter-spacing: inherit;
}

.container {
    padding-top: 150px;
}

.signin-button {
    padding-top: 15px;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2979ff;
    box-shadow: 0 1px 0 0 #2979ff;
}

/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #2979ff;
    box-shadow: 0 1px 0 0 #2979ff;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #2979ff;
}
.input-field input[type=password]:focus + label {
    color: #2979ff;
}

.error {
    padding-top: 10px;
    color: red;
}