header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

ul.side-nav.fixed li.side-menu {
    text-align: center;
    border-bottom: 1px solid #DDD;
}

.user-info {
    border-bottom: 1px solid #DDD;
    width: auto;
    align-content: center;
    background: #e0e0e0;
}

.user-info img{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.brand-log {
    padding: 10px;
}

.user-content {
    font-weight: 100;
    line-height: 1.2;
}

.user-add {
    padding-top: 15px;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2979ff;
    box-shadow: 0 1px 0 0 #2979ff;
}

/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #2979ff;
    box-shadow: 0 1px 0 0 #2979ff;
}

/* label underline focus color */
.input-field input[type=email]:focus {
    border-bottom: 1px solid #2979ff;
    box-shadow: 0 1px 0 0 #2979ff;
}

/* label underline focus color */
.input-field input[type=number]:focus {
    border-bottom: 1px solid #2979ff;
    box-shadow: 0 1px 0 0 #2979ff;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #2979ff;
}

.input-field input[type=password]:focus + label {
    color: #2979ff;
}

.input-field input[type=email]:focus + label {
    color: #2979ff;
}

.input-field input[type=checkbox]:focus + option {
    color: #2979ff;
}

.input-field input[type=number]:focus + option {
    color: #2979ff;
}

.error {
    padding-top: 10px;
    color: red;
}
.header {
    color: black;
    font-weight: 300;
    padding-bottom: 20px;
    padding-top: 10px;
}
