{% extends "::simple.html.twig" %}

{% block title %}RoomsManagerBundle:Appointment:list{% endblock %}

{% block content %}
    <div class="section">
        <h3 class="header">Rooms Booked</h3>

        <table class="bordered centered">
            <thead>
            <tr>
                <th>Room</th>
                <th>User</th>
                <th>Email</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for reserve in data %}
                <tr>
                    <td>{{ reserve.name }}</td>
                    <td>{{ reserve.username }}</td>
                    <td>{{ reserve.email }}</td>
                    <td>{{ reserve.dt_appointment |date("m/d/Y H:i:s") }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('kinghost_roomsmanager_appointment_index') }}">Remove</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="user-add">
            <li>
                <a class="right btn-floating btn-large waves-effect waves-light blue accent-3" href="{{ path('kinghost_roomsmanager_appointment_new') }}">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
