{% extends "::simple.html.twig" %}

{% block title %}RoomsManagerBundle:Appointment:list{% endblock %}

{% block content %}
    <div class="section">
        <h3 class="header">Booking</h3>
        <div class="row">
            <form class="col s12" method="POST" target="">
                <div class="row">
                    <div class="input-field col s6 create-user">
                        <input type="date" class="datepicker">
                        <label for="room-name"> Date </label>
                    </div>
                    <div class="input-field col s6">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                        </select>
                        <label>Available Time</label>
                    </div>
                </div>
                <div class="row center">
                    <div class="input-field col s12">

                        <input type="submit" id="submit" class="btn grey" value="Create" name="submit"/>
                        <a href="" class="btn grey">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
