{% extends '::base.html.twig' %}

{% block title %} KingHost - Rooms Manager {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('public/css/login.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="signin-card">
            <h1 class="display">KH - Rooms Manager</h1>
            <form action="{{ path('kinghost_useradmin_login_logincheck') }}" method="POST" >
                <div class="input-field">
                    <input id="username" id="username" name="_username" type="text" size="18" alt="" required/>
                    <label for="username" class="float-label">Username or Email</label>
                </div>

                <div class="input-field">
                    <input id="passwd" id="password" name="_password"  type="password" size="18" alt="" required>
                    <label for="password" class="">Password</label>
                </div>
                <div class="signin-button">
                    <button class="btn btn-block btn-info ripple-effect blue accent-3" type="submit" alt="sign in">Login </button>
                </div>

                {% if error %}
                    <div class="error">{{ error.message }}</div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}