{% extends '::simple.html.twig' %}

{% block content %}
    <h3 class="header">Rooms</h3>

    <table class="bordered centered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td><a href="{{ path('kinghost_roomsmanager_room_show', { 'id': room.id }) }}">{{ room.id }}</a></td>
                <td>{{ room.name }}</td>
                <td>{{ room.capacity }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('kinghost_roomsmanager_room_show', { 'id': room.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('kinghost_roomsmanager_room_edit', { 'id': room.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="user-add">
        <li>
            <a class="right btn-floating btn-large waves-effect waves-light blue accent-3" href="{{ path('kinghost_roomsmanager_room_new') }}"><i class="material-icons">add</i></a>
        </li>
    </ul>
{% endblock %}
