{% extends 'simple.html.twig' %}

{% block content %}
    <h3 class="header">New Room</h3>

    <div class="row">
        <form class="col s12" method="POST" target="">
            <div class="row">
                <div class="input-field col s6 create-user">
                    <input id="roomname" name="roomname" type="text" class="validate" required>
                    <label for="room-name"> Room Name </label>
                </div>
                <div class="input-field col s6">
                    <input id="capacity" name="capacity" type="number" class="validate" min="10" required>
                    <label for="capacity">Capacity</label>
                </div>
            </div>
            <div class="row center">
                <div class="input-field col s12">
                    {% if error %}
                        <div class="error">{{ error }}</div>
                    {% endif %}
                    <input type="submit" id="submit" class="btn grey" value="Create" name="submit"/>
                    <a href="{{ path('kinghost_roomsmanager_room_index') }}" class="btn grey">Cancel</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
