{% extends 'simple.html.twig' %}

{% block content %}
    <h3  class="header">Room Detail</h3>

    <table class="striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ room.name }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ room.capacity }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row center">
        <div class="input-field col s12">
            {{ form_start(delete_form) }}
            <a href="{{ path('kinghost_roomsmanager_room_edit', {id: room.id}) }}" class="btn grey">Edit</a>
            <a href="{{ path('kinghost_roomsmanager_room_index') }}" class="btn grey">Cancel</a>
            <input type="submit" class="btn red" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
